<!DOCTYPE html>
<html>
<head>
	<title>Cards | Full Deck</title>
		<style>
			.hero {
			      background-image: url(brick_wall_bg.jpg);
				    }
		</style>
</head>
<body style="margin: 0px; padding: 0px;">
	<div id="container" style="width: 100%; height: 100%;">
		<div>
			<nav style="background-color: #005b96; padding: 20px; border-bottom: 3px solid #123e59;">
				<h1 style="text-shadow: #000 2px -2px 1px; margin: 0 auto; text-align: center; padding: 0px 20px; color: #efeded;">This is my Full Deck of Cards!</h1>
			</nav>
		</div>
		<div class="hero">
			<h1 style="color: #0e2f44; text-align: center; padding: 100px; margin:0 auto; font-size: 80px; text-shadow: #000 2px -2px 1px; border-bottom: 1px solid gray; font-family: Arial;">Let's play some 3 card poker!</h1>
		</div>
    <div>
    	<% require_relative 'to_img' %>
        <ul>
			<% @cards = ((2..10).to_a + ["J", "Q", "K", "A" ]).flatten.shuffle.each do |cards| %>
				<img src="card_imgs/<%= cards %>C.svg" ALT="cards" WIDTH=300px HEIGHT=300px>
				<img src="card_imgs/<%= cards %>D.svg" ALT="cards" WIDTH=300px HEIGHT=300px>
				<img src="card_imgs/<%= cards %>H.svg" ALT="cards" WIDTH=300px HEIGHT=300px>
				<img src="card_imgs/<%= cards %>S.svg" ALT="cards" WIDTH=300px HEIGHT=300px>
			<% end %>
		</ul>
    </div>
  </div>
  <%=  %>
</body>
</html>


